body {
  font-family: "Roboto", serif;
  color: #fff;
  background-color: #20202d;
  padding-top: 50px;
}
.hero{
  background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
  padding-bottom: 194px;
}
.container {
  width: 946px;
  margin: auto;
}
.header-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}
.social {
  &__link:not(:last-child) {
    margin-right: 20px;
  }
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-subtitle {
  font-size: 24px;
  line-height: 28px;
  
  color: #FFBB01;
  margin-bottom: 14px;
}
.hero-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 20px;
}
.hero-text {
  max-width: 420px;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 38px;
}

.btn {
  padding: 24px 42px;
  border: none;
  border-radius: 5px 5px 10px 10px;
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  transition: 0.5s;
  &:hover {
    box-shadow: 0px 4px 0px #b68500;
  }
}
.avatar {
  border-radius: 50%;
  border: 10px solid #c4c4c4;
  
}
.features {
  background-color: #000;
}
.block-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 64px;
}
.features-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.features-item {
  margin-bottom: 64px;
}
.item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px
}
.item-text {
  max-width: 240px;
  font-size: 16px;
  line-height: 28px;
}
